In [2]:
import os
from pathlib import Path

In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O(e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
DATA_DIR = Path(r'../../../AI_Methodology/AI_METHODOLY/data/external/')
PROCCECED_DIR=Path(r'../../../AI_Methodology/AI_METHODOLY/data/processed/')

MODEL_DIR=Path(r'../../../AI_Methodology/AI_METHODOLY/models/')
df_master= pd.read_excel(DATA_DIR/"Employee_Perfomance.xls",index_col='EmpNumber')

In [5]:
df = df_master.copy()

In [6]:
df.isnull().sum()

Age                             0
Gender                          0
EducationBackground             0
MaritalStatus                   0
EmpDepartment                   0
EmpJobRole                      0
BusinessTravelFrequency         0
DistanceFromHome                0
EmpEducationLevel               0
EmpEnvironmentSatisfaction      0
EmpHourlyRate                   0
EmpJobInvolvement               0
EmpJobLevel                     0
EmpJobSatisfaction              0
NumCompaniesWorked              0
OverTime                        0
EmpLastSalaryHikePercent        0
EmpRelationshipSatisfaction     0
TotalWorkExperienceInYears      0
TrainingTimesLastYear           0
EmpWorkLifeBalance              0
ExperienceYearsAtThisCompany    0
ExperienceYearsInCurrentRole    0
YearsSinceLastPromotion         0
YearsWithCurrManager            0
Attrition                       0
PerformanceRating               0
dtype: int64

# Creating Data Pipelines

In [7]:
continuous_columns = df.select_dtypes(include='number').columns
list(continuous_columns)

['Age',
 'DistanceFromHome',
 'EmpEducationLevel',
 'EmpEnvironmentSatisfaction',
 'EmpHourlyRate',
 'EmpJobInvolvement',
 'EmpJobLevel',
 'EmpJobSatisfaction',
 'NumCompaniesWorked',
 'EmpLastSalaryHikePercent',
 'EmpRelationshipSatisfaction',
 'TotalWorkExperienceInYears',
 'TrainingTimesLastYear',
 'EmpWorkLifeBalance',
 'ExperienceYearsAtThisCompany',
 'ExperienceYearsInCurrentRole',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager',
 'PerformanceRating']

In [8]:
categorical_columns = list(df.select_dtypes(include='object').columns)
categorical_columns

['Gender',
 'EducationBackground',
 'MaritalStatus',
 'EmpDepartment',
 'EmpJobRole',
 'BusinessTravelFrequency',
 'OverTime',
 'Attrition']

In [9]:
def impute_continuous_missing_values(dataframe: pd.DataFrame) -> pd.DataFrame:
    default_value = 0
    continuous_columns = dataframe.select_dtypes(include='number').columns
    [dataframe[column_name].fillna(default_value, inplace=True) for column_name in continuous_columns]
    return dataframe

In [10]:
def preprocess_continuous_data(dataframe: pd.DataFrame) -> pd.DataFrame:
     return impute_continuous_missing_values(dataframe)

In [11]:
preprocess_continuous_data(df)

,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
EmpNumber,,,,,,,,,,,,,,,,,,,,,
E1001000,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,4,...,4,10,2,2,10,7,0,8,No,3
E1001006,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,4,...,4,20,2,3,7,7,1,7,No,3
E1001007,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,4,...,3,20,2,3,18,13,1,12,No,4
E1001009,41,Male,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,2,...,2,23,2,2,21,6,12,6,No,3
E1001010,60,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,1,...,4,10,1,3,2,2,2,2,No,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E100992,27,Female,Medical,Divorced,Sales,Sales Executive,Travel_Frequently,3,1,4,...,2,6,3,3,6,5,0,4,No,4
E100993,37,Male,Life Sciences,Single,Development,Senior Developer,Travel_Rarely,10,2,4,...,1,4,2,3,1,0,0,0,No,3
E100994,50,Male,Medical,Married,Development,Senior Developer,Travel_Rarely,28,1,4,...,3,20,3,3,20,8,3,8,No,3
E100995,34,Female,Medical,Single,Data Science,Data Scientist,Travel_Rarely,9,3,4,...,2,9,3,4,8,7,7,7,No,3
E100998,24,Female,Life Sciences,Single,Sales,Sales Executive,Travel_Rarely,3,2,1,...,1,4,3,3,2,2,2,0,Yes,2

In [12]:
def get_categorical_column_names(dataframe: pd.DataFrame) -> [str]:
    categorical_columns = list(dataframe.select_dtypes(include='object').columns)
    return categorical_columns

In [13]:
def impute_categorical_missing_values(dataframe: pd.DataFrame) -> pd.DataFrame:
    default_value = 'missing value mate !'
    categorical_columns = get_categorical_column_names(dataframe)
    [dataframe[column_name].fillna(default_value, inplace=True) for column_name in categorical_columns]
    return dataframe

In [14]:
df_master[categorical_columns].isna().sum()

Gender                     0
EducationBackground        0
MaritalStatus              0
EmpDepartment              0
EmpJobRole                 0
BusinessTravelFrequency    0
OverTime                   0
Attrition                  0
dtype: int64

In [15]:
impute_categorical_missing_values(df)[categorical_columns].isna().sum()

Gender                     0
EducationBackground        0
MaritalStatus              0
EmpDepartment              0
EmpJobRole                 0
BusinessTravelFrequency    0
OverTime                   0
Attrition                  0
dtype: int64

In [16]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(handle_unknown='ignore', dtype=int, sparse=True)
encoder.fit(df[categorical_columns])
encoder

OneHotEncoder(dtype=<class 'int'>, handle_unknown='ignore')

In [17]:
encoded_categorical_df = encoder.transform(df[categorical_columns])
encoded_categorical_df

<1200x43 sparse matrix of type '<class 'numpy.int32'>'
	with 9600 stored elements in Compressed Sparse Row format>

In [18]:
import joblib

def get_one_encoder(dataframe: pd.DataFrame, encoder_dir: Path) -> OneHotEncoder:
    one_hot_encoder_path = MODEL_DIR/ 'one_hot_encoder.joblib'
    if one_hot_encoder_path.exists():
        one_hot_encoder = joblib.load(one_hot_encoder_path)
    else:
        categorical_columns = get_categorical_column_names(dataframe)
        one_hot_encoder = OneHotEncoder(handle_unknown='ignore', dtype=int, sparse=True)
        one_hot_encoder.fit(dataframe[categorical_columns])
        joblib.dump(one_hot_encoder, one_hot_encoder_path) 
    return one_hot_encoder

def encode_categorical_data(dataframe: pd.DataFrame, one_hot_encoder: OneHotEncoder) -> pd.DataFrame:
    categorical_columns = get_categorical_column_names(dataframe)
    encoded_categorical_data_matrix = one_hot_encoder.transform(dataframe[categorical_columns])
    encoded_data_columns = one_hot_encoder.get_feature_names(categorical_columns)
    encoded_categorical_data_df = pd.DataFrame.sparse.from_spmatrix(data=encoded_categorical_data_matrix,
                                                                columns=encoded_data_columns, index=dataframe.index)
    encoded_df = dataframe.copy().drop(categorical_columns, axis=1).join(encoded_categorical_data_df)
    return encoded_df

In [19]:
encoder = get_one_encoder(df,MODEL_DIR/ 'models')
encoded_df = encode_categorical_data(df, encoder)

C:\Users\Anand\.conda\envs\aimethodology\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [20]:
encoded_df

,Age,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,EmpHourlyRate,EmpJobInvolvement,EmpJobLevel,EmpJobSatisfaction,NumCompaniesWorked,EmpLastSalaryHikePercent,...,EmpJobRole_Senior Manager R&D,EmpJobRole_Technical Architect,EmpJobRole_Technical Lead,BusinessTravelFrequency_Non-Travel,BusinessTravelFrequency_Travel_Frequently,BusinessTravelFrequency_Travel_Rarely,OverTime_No,OverTime_Yes,Attrition_No,Attrition_Yes
EmpNumber,,,,,,,,,,,,,,,,,,,,,
E1001000,32,10,3,4,55,3,2,4,1,12,...,0,0,0,0,0,1,1,0,1,0
E1001006,47,14,4,4,42,3,2,1,2,12,...,0,0,0,0,0,1,1,0,1,0
E1001007,40,5,4,4,48,2,3,1,5,21,...,0,0,0,0,1,0,0,1,1,0
E1001009,41,10,4,2,73,2,5,4,3,15,...,0,0,0,0,0,1,1,0,1,0
E1001010,60,16,4,1,84,3,2,1,8,14,...,0,0,0,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E100992,27,3,1,4,71,4,2,4,1,20,...,0,0,0,0,1,0,0,1,1,0
E100993,37,10,2,4,80,4,1,4,3,17,...,0,0,0,0,0,1,1,0,1,0
E100994,50,28,1,4,74,4,1,3,1,11,...,0,0,0,0,0,1,0,1,1,0
E100995,34,9,3,4,46,2,3,2,1,14,...,0,0,0,0,0,1,1,0,1,0
E100998,24,3,2,1,65,3,2,3,9,14,...,0,0,0,0,0,1,1,0,0,1

In [21]:
def preprocess_categorical_data(dataframe: pd.DataFrame, models_dir: Path) -> pd.DataFrame:
    dataframe = impute_categorical_missing_values(dataframe)
    encoder = get_one_encoder(dataframe, models_dir)
    encoded_df = encode_categorical_data(dataframe, encoder)
    return encoded_df

In [22]:
def preprocess(dataframe: pd.DataFrame, models_dir) -> pd.DataFrame:
    preprocessed_df = dataframe.copy()
    preprocessed_df = preprocess_continuous_data(dataframe)
    preprocessed_df = preprocess_categorical_data(preprocessed_df, models_dir)
    return preprocessed_df

In [23]:
df_encoded = preprocess_categorical_data(df, MODEL_DIR)

C:\Users\Anand\.conda\envs\aimethodology\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [24]:
preprocessed_df = preprocess(df_master, MODEL_DIR)
preprocessed_df.head()

C:\Users\Anand\.conda\envs\aimethodology\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Age,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,EmpHourlyRate,EmpJobInvolvement,EmpJobLevel,EmpJobSatisfaction,NumCompaniesWorked,EmpLastSalaryHikePercent,...,EmpJobRole_Senior Manager R&D,EmpJobRole_Technical Architect,EmpJobRole_Technical Lead,BusinessTravelFrequency_Non-Travel,BusinessTravelFrequency_Travel_Frequently,BusinessTravelFrequency_Travel_Rarely,OverTime_No,OverTime_Yes,Attrition_No,Attrition_Yes
EmpNumber,,,,,,,,,,,,,,,,,,,,,
E1001000,32,10,3,4,55,3,2,4,1,12,...,0,0,0,0,0,1,1,0,1,0
E1001006,47,14,4,4,42,3,2,1,2,12,...,0,0,0,0,0,1,1,0,1,0
E1001007,40,5,4,4,48,2,3,1,5,21,...,0,0,0,0,1,0,0,1,1,0
E1001009,41,10,4,2,73,2,5,4,3,15,...,0,0,0,0,0,1,1,0,1,0
E1001010,60,16,4,1,84,3,2,1,8,14,...,0,0,0,0,0,1,1,0,1,0

In [25]:
newdf=preprocessed_df

In [26]:
newdf.columns

Index(['Age', 'DistanceFromHome', 'EmpEducationLevel',
       'EmpEnvironmentSatisfaction', 'EmpHourlyRate', 'EmpJobInvolvement',
       'EmpJobLevel', 'EmpJobSatisfaction', 'NumCompaniesWorked',
       'EmpLastSalaryHikePercent', 'EmpRelationshipSatisfaction',
       'TotalWorkExperienceInYears', 'TrainingTimesLastYear',
       'EmpWorkLifeBalance', 'ExperienceYearsAtThisCompany',
       'ExperienceYearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'PerformanceRating', 'Gender_Female',
       'Gender_Male', 'EducationBackground_Human Resources',
       'EducationBackground_Life Sciences', 'EducationBackground_Marketing',
       'EducationBackground_Medical', 'EducationBackground_Other',
       'EducationBackground_Technical Degree', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Single',
       'EmpDepartment_Data Science', 'EmpDepartment_Development',
       'EmpDepartment_Finance', 'EmpDepartment_Human Resources',
       'EmpDepartment_Research & Development', 'EmpDepartment_Sales',
       'EmpJobRole_Business Analyst', 'EmpJobRole_Data Scientist',
       'EmpJobRole_Delivery Manager', 'EmpJobRole_Developer',
       'EmpJobRole_Finance Manager', 'EmpJobRole_Healthcare Representative',
       'EmpJobRole_Human Resources', 'EmpJobRole_Laboratory Technician',
       'EmpJobRole_Manager', 'EmpJobRole_Manager R&D',
       'EmpJobRole_Manufacturing Director', 'EmpJobRole_Research Director',
       'EmpJobRole_Research Scientist', 'EmpJobRole_Sales Executive',
       'EmpJobRole_Sales Representative', 'EmpJobRole_Senior Developer',
       'EmpJobRole_Senior Manager R&D', 'EmpJobRole_Technical Architect',
       'EmpJobRole_Technical Lead', 'BusinessTravelFrequency_Non-Travel',
       'BusinessTravelFrequency_Travel_Frequently',
       'BusinessTravelFrequency_Travel_Rarely', 'OverTime_No', 'OverTime_Yes',
       'Attrition_No', 'Attrition_Yes'],
      dtype='object')

In [27]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder,scale, StandardScaler

In [28]:
target = df['PerformanceRating']
train = newdf.drop(['PerformanceRating'],axis=1).values

In [29]:
x_train , x_test , y_train , y_test = train_test_split(train,target,test_size=0.2)

In [30]:
rfc = RandomForestClassifier(n_estimators=10000, random_state=0, n_jobs=-1)

In [31]:
rfc.fit(x_train,y_train)

RandomForestClassifier(n_estimators=10000, n_jobs=-1, random_state=0)

In [32]:
predict = rfc.predict(x_test)
predict

array([3, 3, 3, 3, 4, 3, 3, 2, 2, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 2, 3, 3, 4, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 4, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 2, 2, 4, 3, 3, 3, 3, 3, 2, 3, 3,
       3, 2, 3, 2, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 2, 3, 2, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 2, 3, 2, 3, 2, 3,
       3, 3, 3, 3, 3, 3, 2, 3, 2, 3, 4, 2, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3,
       2, 3, 3, 3, 3, 3, 2, 2, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 2, 3, 3, 3, 2, 2, 4, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 2, 3, 3, 3, 2, 3, 3, 4, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 2, 2,
       3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 4, 3, 2, 3, 3, 3, 3, 4, 3, 3, 3,
       3, 3, 3, 3, 3, 2, 3, 3, 4, 2, 2, 3, 3, 3, 3, 2, 3, 3, 3, 3],
      dtype=int64)

In [33]:
for feature in zip(['Age', 'DistanceFromHome', 'EmpEducationLevel',
       'EmpEnvironmentSatisfaction', 'EmpHourlyRate', 'EmpJobInvolvement',
       'EmpJobLevel', 'EmpJobSatisfaction', 'NumCompaniesWorked',
       'EmpLastSalaryHikePercent', 'EmpRelationshipSatisfaction',
       'TotalWorkExperienceInYears', 'TrainingTimesLastYear',
       'EmpWorkLifeBalance', 'ExperienceYearsAtThisCompany',
       'ExperienceYearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'PerformanceRating', 'Gender_Female',
       'Gender_Male', 'EducationBackground_Human Resources',
       'EducationBackground_Life Sciences', 'EducationBackground_Marketing',
       'EducationBackground_Medical', 'EducationBackground_Other',
       'EducationBackground_Technical Degree', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Single',
       'EmpDepartment_Data Science', 'EmpDepartment_Development',
       'EmpDepartment_Finance', 'EmpDepartment_Human Resources',
       'EmpDepartment_Research & Development', 'EmpDepartment_Sales',
       'EmpJobRole_Business Analyst', 'EmpJobRole_Data Scientist',
       'EmpJobRole_Delivery Manager', 'EmpJobRole_Developer',
       'EmpJobRole_Finance Manager', 'EmpJobRole_Healthcare Representative',
       'EmpJobRole_Human Resources', 'EmpJobRole_Laboratory Technician',
       'EmpJobRole_Manager', 'EmpJobRole_Manager R&D',
       'EmpJobRole_Manufacturing Director', 'EmpJobRole_Research Director',
       'EmpJobRole_Research Scientist', 'EmpJobRole_Sales Executive',
       'EmpJobRole_Sales Representative', 'EmpJobRole_Senior Developer',
       'EmpJobRole_Senior Manager R&D', 'EmpJobRole_Technical Architect',
       'EmpJobRole_Technical Lead', 'BusinessTravelFrequency_Non-Travel',
       'BusinessTravelFrequency_Travel_Frequently',
       'BusinessTravelFrequency_Travel_Rarely', 'OverTime_No', 'OverTime_Yes',
       'Attrition_No', 'Attrition_Yes'], rfc.feature_importances_):
    print(feature)

('Age', 0.03615690834657815)
('DistanceFromHome', 0.03197586605628759)
('EmpEducationLevel', 0.019735167381432245)
('EmpEnvironmentSatisfaction', 0.1502833438550574)
('EmpHourlyRate', 0.039903652728679885)
('EmpJobInvolvement', 0.015745825600957122)
('EmpJobLevel', 0.015512111137738156)
('EmpJobSatisfaction', 0.01746698148660839)
('NumCompaniesWorked', 0.021993438258882305)
('EmpLastSalaryHikePercent', 0.1769939527178544)
('EmpRelationshipSatisfaction', 0.017650842233483385)
('TotalWorkExperienceInYears', 0.03098379448492268)
('TrainingTimesLastYear', 0.021501045862401747)
('EmpWorkLifeBalance', 0.02460599006819563)
('ExperienceYearsAtThisCompany', 0.03589191573527212)
('ExperienceYearsInCurrentRole', 0.037084136957774703)
('YearsSinceLastPromotion', 0.07055339002568241)
('YearsWithCurrManager', 0.030558175830332435)
('PerformanceRating', 0.006808508966529318)
('Gender_Female', 0.006806048110785841)
('Gender_Male', 0.0012945077552602865)
('EducationBackground_Human Resources', 0.007190041058573492)
('EducationBackground_Life Sciences', 0.0047986907216213855)
('EducationBackground_Marketing', 0.007258490218266329)
('EducationBackground_Medical', 0.0026728116940498356)
('EducationBackground_Other', 0.004300606157672364)
('EducationBackground_Technical Degree', 0.005621310145986861)
('MaritalStatus_Divorced', 0.007753527167593022)
('MaritalStatus_Married', 0.007892041884708939)
('MaritalStatus_Single', 0.0015071949839261804)
('EmpDepartment_Data Science', 0.021610710680823153)
('EmpDepartment_Development', 0.003268371267619649)
('EmpDepartment_Finance', 0.0023051681692721404)
('EmpDepartment_Human Resources', 0.006748656947842295)
('EmpDepartment_Research & Development', 0.007591093776185226)
('EmpDepartment_Sales', 0.002165392068810036)
('EmpJobRole_Business Analyst', 0.0015305822904739857)
('EmpJobRole_Data Scientist', 7.667175771377554e-05)
('EmpJobRole_Delivery Manager', 0.014099484988027157)
('EmpJobRole_Developer', 0.003217463073236157)
('EmpJobRole_Finance Manager', 0.0020919149037389984)
('EmpJobRole_Healthcare Representative', 0.0019974010611492816)
('EmpJobRole_Human Resources', 0.0030677117996490678)
('EmpJobRole_Laboratory Technician', 0.003173373585948103)
('EmpJobRole_Manager', 0.003295560455740342)
('EmpJobRole_Manager R&D', 0.0012759702446464244)
('EmpJobRole_Manufacturing Director', 0.0019035314619599184)
('EmpJobRole_Research Director', 0.005661981991946642)
('EmpJobRole_Research Scientist', 0.005815488951377255)
('EmpJobRole_Sales Executive', 0.0021783184743508943)
('EmpJobRole_Sales Representative', 0.003109773334355182)
('EmpJobRole_Senior Developer', 0.0008554080577469474)
('EmpJobRole_Senior Manager R&D', 4.7906436909415085e-05)
('EmpJobRole_Technical Architect', 0.001715128376953717)
('EmpJobRole_Technical Lead', 0.003990413486330777)
('BusinessTravelFrequency_Non-Travel', 0.007294636076535103)
('BusinessTravelFrequency_Travel_Frequently', 0.007080745556061701)
('BusinessTravelFrequency_Travel_Rarely', 0.006462073303225361)
('OverTime_No', 0.006491470375002501)
('OverTime_Yes', 0.005741419878463839)
('Attrition_No', 0.005635859534790247)

In [34]:
from sklearn.metrics import accuracy_score

In [35]:
print (f"The accuracy score is : {accuracy_score(y_test,predict)*100}%")

The accuracy score is : 91.66666666666666%

In [36]:
print (classification_report(y_test,predict))

              precision    recall  f1-score   support

           2       0.92      0.83      0.88        42
           3       0.91      0.98      0.95       175
           4       1.00      0.57      0.72        23

    accuracy                           0.92       240
   macro avg       0.94      0.79      0.85       240
weighted avg       0.92      0.92      0.91       240

In [37]:
inference_df =pd.read_excel(DATA_DIR/"Employee_Perfomance.xls",index_col='EmpNumber')
inference_df.head()

,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
EmpNumber,,,,,,,,,,,,,,,,,,,,,
E1001000,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,4,...,4,10,2,2,10,7,0,8,No,3
E1001006,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,4,...,4,20,2,3,7,7,1,7,No,3
E1001007,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,4,...,3,20,2,3,18,13,1,12,No,4
E1001009,41,Male,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,2,...,2,23,2,2,21,6,12,6,No,3
E1001010,60,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,1,...,4,10,1,3,2,2,2,2,No,3

In [38]:
processed_inference_df = preprocess(inference_df, MODEL_DIR)
processed_inference_df.head()

C:\Users\Anand\.conda\envs\aimethodology\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Age,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,EmpHourlyRate,EmpJobInvolvement,EmpJobLevel,EmpJobSatisfaction,NumCompaniesWorked,EmpLastSalaryHikePercent,...,EmpJobRole_Senior Manager R&D,EmpJobRole_Technical Architect,EmpJobRole_Technical Lead,BusinessTravelFrequency_Non-Travel,BusinessTravelFrequency_Travel_Frequently,BusinessTravelFrequency_Travel_Rarely,OverTime_No,OverTime_Yes,Attrition_No,Attrition_Yes
EmpNumber,,,,,,,,,,,,,,,,,,,,,
E1001000,32,10,3,4,55,3,2,4,1,12,...,0,0,0,0,0,1,1,0,1,0
E1001006,47,14,4,4,42,3,2,1,2,12,...,0,0,0,0,0,1,1,0,1,0
E1001007,40,5,4,4,48,2,3,1,5,21,...,0,0,0,0,1,0,0,1,1,0
E1001009,41,10,4,2,73,2,5,4,3,15,...,0,0,0,0,0,1,1,0,1,0
E1001010,60,16,4,1,84,3,2,1,8,14,...,0,0,0,0,0,1,1,0,1,0

In [39]:
processed_inference_df.columns

Index(['Age', 'DistanceFromHome', 'EmpEducationLevel',
       'EmpEnvironmentSatisfaction', 'EmpHourlyRate', 'EmpJobInvolvement',
       'EmpJobLevel', 'EmpJobSatisfaction', 'NumCompaniesWorked',
       'EmpLastSalaryHikePercent', 'EmpRelationshipSatisfaction',
       'TotalWorkExperienceInYears', 'TrainingTimesLastYear',
       'EmpWorkLifeBalance', 'ExperienceYearsAtThisCompany',
       'ExperienceYearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'PerformanceRating', 'Gender_Female',
       'Gender_Male', 'EducationBackground_Human Resources',
       'EducationBackground_Life Sciences', 'EducationBackground_Marketing',
       'EducationBackground_Medical', 'EducationBackground_Other',
       'EducationBackground_Technical Degree', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Single',
       'EmpDepartment_Data Science', 'EmpDepartment_Development',
       'EmpDepartment_Finance', 'EmpDepartment_Human Resources',
       'EmpDepartment_Research & Development', 'EmpDepartment_Sales',
       'EmpJobRole_Business Analyst', 'EmpJobRole_Data Scientist',
       'EmpJobRole_Delivery Manager', 'EmpJobRole_Developer',
       'EmpJobRole_Finance Manager', 'EmpJobRole_Healthcare Representative',
       'EmpJobRole_Human Resources', 'EmpJobRole_Laboratory Technician',
       'EmpJobRole_Manager', 'EmpJobRole_Manager R&D',
       'EmpJobRole_Manufacturing Director', 'EmpJobRole_Research Director',
       'EmpJobRole_Research Scientist', 'EmpJobRole_Sales Executive',
       'EmpJobRole_Sales Representative', 'EmpJobRole_Senior Developer',
       'EmpJobRole_Senior Manager R&D', 'EmpJobRole_Technical Architect',
       'EmpJobRole_Technical Lead', 'BusinessTravelFrequency_Non-Travel',
       'BusinessTravelFrequency_Travel_Frequently',
       'BusinessTravelFrequency_Travel_Rarely', 'OverTime_No', 'OverTime_Yes',
       'Attrition_No', 'Attrition_Yes'],
      dtype='object')

In [40]:
for feature in zip(processed_inference_df.columns, rfc.feature_importances_):
    print(feature)

('Age', 0.03615690834657815)
('DistanceFromHome', 0.03197586605628759)
('EmpEducationLevel', 0.019735167381432245)
('EmpEnvironmentSatisfaction', 0.1502833438550574)
('EmpHourlyRate', 0.039903652728679885)
('EmpJobInvolvement', 0.015745825600957122)
('EmpJobLevel', 0.015512111137738156)
('EmpJobSatisfaction', 0.01746698148660839)
('NumCompaniesWorked', 0.021993438258882305)
('EmpLastSalaryHikePercent', 0.1769939527178544)
('EmpRelationshipSatisfaction', 0.017650842233483385)
('TotalWorkExperienceInYears', 0.03098379448492268)
('TrainingTimesLastYear', 0.021501045862401747)
('EmpWorkLifeBalance', 0.02460599006819563)
('ExperienceYearsAtThisCompany', 0.03589191573527212)
('ExperienceYearsInCurrentRole', 0.037084136957774703)
('YearsSinceLastPromotion', 0.07055339002568241)
('YearsWithCurrManager', 0.030558175830332435)
('PerformanceRating', 0.006808508966529318)
('Gender_Female', 0.006806048110785841)
('Gender_Male', 0.0012945077552602865)
('EducationBackground_Human Resources', 0.007190041058573492)
('EducationBackground_Life Sciences', 0.0047986907216213855)
('EducationBackground_Marketing', 0.007258490218266329)
('EducationBackground_Medical', 0.0026728116940498356)
('EducationBackground_Other', 0.004300606157672364)
('EducationBackground_Technical Degree', 0.005621310145986861)
('MaritalStatus_Divorced', 0.007753527167593022)
('MaritalStatus_Married', 0.007892041884708939)
('MaritalStatus_Single', 0.0015071949839261804)
('EmpDepartment_Data Science', 0.021610710680823153)
('EmpDepartment_Development', 0.003268371267619649)
('EmpDepartment_Finance', 0.0023051681692721404)
('EmpDepartment_Human Resources', 0.006748656947842295)
('EmpDepartment_Research & Development', 0.007591093776185226)
('EmpDepartment_Sales', 0.002165392068810036)
('EmpJobRole_Business Analyst', 0.0015305822904739857)
('EmpJobRole_Data Scientist', 7.667175771377554e-05)
('EmpJobRole_Delivery Manager', 0.014099484988027157)
('EmpJobRole_Developer', 0.003217463073236157)
('EmpJobRole_Finance Manager', 0.0020919149037389984)
('EmpJobRole_Healthcare Representative', 0.0019974010611492816)
('EmpJobRole_Human Resources', 0.0030677117996490678)
('EmpJobRole_Laboratory Technician', 0.003173373585948103)
('EmpJobRole_Manager', 0.003295560455740342)
('EmpJobRole_Manager R&D', 0.0012759702446464244)
('EmpJobRole_Manufacturing Director', 0.0019035314619599184)
('EmpJobRole_Research Director', 0.005661981991946642)
('EmpJobRole_Research Scientist', 0.005815488951377255)
('EmpJobRole_Sales Executive', 0.0021783184743508943)
('EmpJobRole_Sales Representative', 0.003109773334355182)
('EmpJobRole_Senior Developer', 0.0008554080577469474)
('EmpJobRole_Senior Manager R&D', 4.7906436909415085e-05)
('EmpJobRole_Technical Architect', 0.001715128376953717)
('EmpJobRole_Technical Lead', 0.003990413486330777)
('BusinessTravelFrequency_Non-Travel', 0.007294636076535103)
('BusinessTravelFrequency_Travel_Frequently', 0.007080745556061701)
('BusinessTravelFrequency_Travel_Rarely', 0.006462073303225361)
('OverTime_No', 0.006491470375002501)
('OverTime_Yes', 0.005741419878463839)
('Attrition_No', 0.005635859534790247)

In [41]:
newdf.to_excel(PROCCECED_DIR/"FINAL_Processed_Data.xls")